apache-airflow[s3,postgres,sentry]==01.10.12
lxml==4.5
pymongo==3.9.0
deepdiff[murmur]==4.0.7
feedparser==5.2.1
beautifulsoup4==4.9.0
git+https://github.com/scieloorg/xylose.git@1.35.8#egg=xylose
git+https://github.com/scieloorg/opac_schema.git@v2.66#egg=opac_schema
git+https://github.com/scieloorg/packtools.git@2.9.5#egg=packtools
aiohttp==3.6.2
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
